@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* nav bar styles */

nav {
    flex: 1;
    text-align: center;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
nav ul li a:hover {
    color: blue;
}

/* body styles */

body {
    font-family: 'Poppins', sans-serif;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px, 0;
}
.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 150px;
    margin-top: 207px;
    width: 485px;
    height: 230px;
}
.col-1 h2 {
    font-size: 64px;
    width: 700;
}
.button {
    width: 168px;
    padding: 10px 24px;
    color: #e02c6d;
    border-radius: 6px;
    cursor: pointer;
}
